<div class="entries mt-2" data-courseid="{{{courseid}}}">
    <div class="card-columns columns-4">
        {{#portfolios}}
            {{> mod_portfoliogroup/portfolio_card }}
        {{/portfolios}}
    </div>
</div>