{{#cangrade}}
    <div class="text-right mb-3">
        <a href="{{config.wwwroot}}/mod/portfoliogroup/indextable.php?id={{courseid}}" class="btn btn-info">
            <i class="fa fa-table"></i> View table report
        </a>
    </div>
{{/cangrade}}

<div class="entries mt-2" data-courseid="{{{courseid}}}">
    <div class="card-columns columns-4">
        {{#portfolios}}
            {{> mod_portfoliogroup/portfolio_card }}
        {{/portfolios}}
    </div>
</div>